streamlit==1.45.1
streamlit-authenticator==0.4.2
streamlit-mic-recorder==0.0.8
deep-translator==1.11.4
python-dotenv==1.1.0
fpdf2==2.8.3
numpy==1.26.4
pandas==2.2.2
langdetect==1.0.9
Pillow==11.2.1
PyYAML==6.0.2
bcrypt==4.2.1