streamlit==1.41.1
fpdf2==2.8.2
streamlit-authenticator==0.4.1
deep-translator==1.11.4
streamlit-mic-recorder==0.0.8
python-dotenv==1.0.1
pandas==2.2.3
langdetect==1.0.9
Pillow==11.1.0
bcrypt==4.2.1
PyYAML==6.0.2
